CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# IDE 相关文件（如 CLion、VS Code 等）
.idea/
.vscode/
*.user
*.sln
*.vcxproj*
*.dir/
*.filters
